<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lemures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lemures.Properties.Settings>
            <setting name="DllPath" serializeAs="String">
                <value>SampleDll.dll</value>
            </setting>
            <setting name="FunctionName" serializeAs="String">
                <value>FuncHook</value>
            </setting>
            <setting name="FunctionFormat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SenderNick" serializeAs="String">
                <value>Nick</value>
            </setting>
            <setting name="SenderUsername" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="SenderAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="IrcCommand" serializeAs="String">
                <value>PRIVMSG</value>
            </setting>
            <setting name="CmdTarget" serializeAs="String">
                <value>#Channel</value>
            </setting>
            <setting name="CmdTrail" serializeAs="String">
                <value />
            </setting>
            <setting name="PlaysSound" serializeAs="String">
                <value>True</value>
            </setting>
        </Lemures.Properties.Settings>
    </userSettings>
</configuration>